In [ ]:

def hours():
    print('Open 9-5 daily')

In [2]:
import zoo

zoo.hours()

ModuleNotFoundError: No module named 'zoo'

In [ ]:
def hours():
    print('Open 9-5 daily')

In [4]:
hours()

NameError: name 'hours' is not defined

In [6]:
def hours():
    print('Open 9-5 daily')

hours()

Open 9-5 daily

In [8]:
import types

menagerie = types.ModuleType('menagerie')

menagerie.hours = hours

menagerie.hours()

Open 9-5 daily

In [11]:
import csv

data = [
    ["author", "book"],
    ["J R R Tolkien", "The Hobbit"],
    ["Lynne Truss", "Eats, Shoots & Leaves"]
]

with open('books.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)
    
print("books.csv has been created.")

books.csv has been created.

In [13]:
import csv

with open('books.csv', mode='r') as file:
    reader = csv.DictReader(file)
    books = list(reader)

for book in books:
    print(book)

{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

In [15]:
import csv

data = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Miéville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992]
]

with open('books2.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)
    
print("books2.csv has been created.")

books2.csv has been created.

In [17]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')

conn.commit()
conn.close()

print("Database and table created.")

Database and table created.

In [19]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

with open('books2.csv', mode='r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        cursor.execute('''
        INSERT INTO books (title, author, year)
        VALUES (?, ?, ?)
        ''', (row['title'], row['author'], int(row['year'])))

conn.commit()
conn.close()

print("Data inserted into the database.")

Data inserted into the database.

In [21]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''
SELECT title FROM books
ORDER BY title
''')

for row in cursor.fetchall():
    print(row[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [23]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''
SELECT * FROM books
ORDER BY year
''')

for row in cursor.fetchall():
    print(row)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [25]:
from sqlalchemy import create_engine, Table, MetaData, select

engine = create_engine('sqlite:///books.db')

metadata = MetaData()

books_table = Table('books', metadata, autoload_with=engine)

with engine.connect() as connection:

    query = select([books_table.c.title]).order_by(books_table.c.title)

    result = connection.execute(query)

    for row in result:
        print(row['title'])

ArgumentError: Column expression, FROM clause, or other columns clause element expected, got [Column('title', TEXT(), table=<books>)]. Did you mean to say select(Column('title', TEXT(), table=<books>))?

In [27]:
from sqlalchemy import create_engine, Table, MetaData, select


engine = create_engine('sqlite:///books.db')


metadata = MetaData()


books_table = Table('books', metadata, autoload_with=engine)


with engine.connect() as connection:

    query = select([books_table.c.title]).order_by(books_table.c.title)
    

    result = connection.execute(query)
    

    for row in result:
        print(row['title'])

ArgumentError: Column expression, FROM clause, or other columns clause element expected, got [Column('title', TEXT(), table=<books>)]. Did you mean to say select(Column('title', TEXT(), table=<books>))?

In [ ]:
from sqlalchemy import create_engine, Table, MetaData, select

# Create an engine that connects to the SQLite database
engine = create_engine('sqlite:///books.db')

# Initialize metadata
metadata = MetaData()

# Reflect the existing books table into a new Table object
books_table = Table('books', metadata, autoload_with=engine)

# Create a connection to the database
with engine.connect() as connection:
    # Create a select query to get the title column from the books table in alphabetical order
    query = select([books_table.c.title]).order_by(books_table.c.title)
    
    # Execute the query
    result = connection.execute(query)
    
    # Print the result
    for row in result:
        print(row['title'])